<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winequality Prediction</title>
</head>
<body>
<center>
    <div style="color:purple">
        <form method="POST">
        <br><br><h2>Winequality Prediction</h2></br></br>

        <input type="text" name="fixed acidity" placeholder="Enter Fixed acidity"><br>
        <input type="text" name="volatile acidity" placeholder="Enter Volatile acidity"><br>
        <input type="text" name="citric acid" placeholder="Enter citric acid"><br>
        <input type="text" name="residual sugar" placeholder="Enter residual sugar"><br>
        <input type="text" name="chlorides" placeholder="Enter chlorides"><br>
        <input type="text" name="free sulfur dioxide" placeholder="Enter free sulfur dioxide"><br>
        <input type="text" name="total sulfur dioxide" placeholder="Enter total sulfur dioxide"><br>
        <input type="text" name="density" placeholder="Enter density"><br>
        <input type="text" name="pH" placeholder="Enter pH"><br>
        <input type="text" name="sulphates" placeholder="Enter sulphates"><br>
        <input type="text" name="alcohol" placeholder="Enter alcohol"><br
        <br><br><input type="submit" value="Submit"></br></br>


            <h2> {{wine_quality}}</h2>
        </form>
    </div>

    <style>
        body {
            background-color: lightblue;
            text-align: center;
            padding: 0px;
        }
    </style>
</center>
</body>
</html>